.skills__span {
    width: 22%;
    font-weight: 500;
}

.progress__container {
    border: 2px solid;
    animation: progressBar 5s infinite;
    width: 30%;
    height: 20px;
    padding: 0.2em;
    border-radius: 20px;
    margin: 1em;
    width: 70%;
}

.progress__bar {
    background: linear-gradient(to right, var(--purple-f), #00b5dd);
    height: 100%;
    border-radius: 20px;
}

.progress__bar-html{width: 90%;}
.progress__bar-css{width: 90%;}
.progress__bar-js{width: 60%;}
.progress__bar-ts{width: 50%;}
.progress__bar-sass{width: 90%;}
.progress__bar-tailwind{width: 80%;}
.progress__bar-bootstrap{width: 40%;}
.progress__bar-react{width: 50%;}


@media screen and (max-width: 600px) {
    .skills__span {
        width: 40%;
    }
}