.presentation__container {
    width: 50%;
}

.presentation__container-title {
    font-size: var(--title-font-size);
    font-weight: 700;
    padding: 0 0 0.5em 0;
    line-height: 1.3;
}

.presentation__span--name {
    /*color: var(--blue-f);*/
    border-right: 3px solid var(--blue-f);
    animation: 
    color 3s infinite,
    cursorAnimation 1s infinite;
    padding: 0 0.2em 0 0;
}

.presentation__subtitle {
    font-size: var(--font-media);
    font-weight: 300;
    line-height: 1.2;
}

.presentation-subtitle-span {
    font-weight: 500;
}

.presentation__container-image {
    display: flex;
    justify-content: center;
}

.presentation__image {
    max-width: 70%;
    animation: slidein 3s infinite;
}

@media screen and (max-width: 600px) {
    .presentation__container {
        text-align: center;
        width: 100%;
    }

    .presentation__container-title {
        font-size: var(--big-font-size);
        font-weight: 700;
        padding: 0 0 0.5em 0;
        line-height: 1.3;
        text-align: center;
    }

    .presentation__container-image {
        padding: 4em 0;
     }
 
     .presentation__image {
         width: 100%;
     }

}