.presentation__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 6em 0;
}

@media screen and (max-width: 600px) {
    .presentation__section {
        display: block;
        width: 100%;
        padding: 7em 0 2em 0;
    }
}

