.presentation__container {
    width: 50%;
}

.presentation__container-title {
    font-size: var(--title-font-size);
    font-weight: 700;
    padding: 0 0 0.5em 0;
    line-height: 1.3;
}

.presentation__span--name {
    color: var(--purple-f);
    border-right: 3px solid;
    animation: cursorAnimation 1s infinite;
    padding: 0 0.2em 0 0;
}

.presentation__subtitle {
    font-size: var(--font-media);
    font-weight: 300;
    line-height: 1.2;
}

.presentation-subtitle-span {
    font-weight: 500;
}

.presentation__container-image {
    display: flex;
    justify-content: center;
}

.presentation__image {
    max-width: 80%;
    animation: slidein 3s infinite;
}

.presentation__subcontainer {
    padding: 2em 0;
    display: grid;
    grid-template-columns: 170px 170px;
    gap: 13px;
}

.presentation__btn {
    padding: 0.5em 2em;
    border: 2px solid;

    text-decoration: none;
    font-weight: 500;

    transition: all .5s ease-out;
    text-align: center;
}

.presentation__btn-download--span {
    grid-column: 2 span;
    text-align: center;
}

.presentation__btn-linkedin {border-color: #0A66C2;}
.presentation__btn-github {border-color: #161B22;}
.presentation__btn-linkedin:hover{background-color: #0A66C2;}
.presentation__btn-github:hover{background-color: #161B22;}
.presentation__btn-download:hover{background-color: rgb(141, 43, 43);}

.presentation__btn-download {
    border-color: rgb(141, 43, 43);
    grid-column: span 2;
    position: relative;
}

.presentation__btn-download::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(141, 43, 43);
    width: 50px;
    height: 100%;
    border-right: 1px solid black;
}

.fa-file-arrow-down {
    font-size: 1.1em;
    position: absolute;
    top: 29%;
    left: 5%;
}
@media screen and (max-width: 600px) {
    .presentation__container {
        text-align: center;
        width: 100%;
    }

    .presentation__container-title {
        font-size: var(--big-font-size);
        font-weight: 700;
        padding: 0 0 0.5em 0;
        line-height: 1.3;
        text-align: center;
    }

    .presentation__container-image {
        padding: 4em 0;
    }
 
    .presentation__image {
         width: 100%;
    }

    .presentation__subcontainer {
        justify-content: center;
        grid-template-columns: 140px 140px;
        gap: 16px;
    }

    .presentation__btn {
        padding: 1em 2em;
        font-size: 1.1em;
    }
}