.projects__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects__container-list {
    width: 500px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects__image {
    max-width: 100%;
    height: 250px;
}

.projects__container-text {
    font-size: 1.1em;
    padding: 1em 0;
}

.projects__container-link {
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

.projects__container-list--tile {
    font-weight: 600;
    font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
    .projects__container-text {
        padding: 1em 0;
    }

    .projects__image {
        max-width: 100%;
        height: 100%;
    }

    .projects__container-text {
        font-size: 1em;
        padding: 1em 0;
    }
}