@keyframes slidein {
    0% {
      transform: translate(0, 0);
    }

    40% {
        transform: translate(0, -15px)
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes progressBar {
    0% {
        border-color: #4d5353;
    }

    50% {
        border-color: #acacac;
    }

    100% {
        border-color: #4d5353;
    }
}

@keyframes cursorAnimation {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--purple-f);
    }

    100% {
        border-color: transparent;
    }
}

@keyframes borderAnimation {
    0% {
        border-color: #0c0c0c;
    }

    20% {
        border-color: #0c0c0c;
    }

    40% {
        border-color: #292929;
    }

    70% {
        border-color: #292929;
    }

    100% {
        border-color: #000000;
    }
}