.carousel {
    padding: 2em 0;
}

.carousel__link {
    font-size: var(--main-font-size);

    padding: 0.8em 3em;
    transition: .5s all;
}

@media screen and (max-width: 600px) {
    .carousel {
        padding: 0 0 2.5em 0;
    }
}